<!DOCTYPE html>
<html>
	<head>
		<title>Test App</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	</head>
	<body>
		<h1>INDEX PAGE</h1>
		<p>Please enter your name</p>
		<div>

			<form class="pure-form" method="POST" action="/">
				Name:<br>
				<input type="text" name="namefield"><br>
				<button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
			</form>
		</div>
		<div>
			<br>
		</div>
		{% if name %}
			<p>Welcome on board {{ name }}</p>
		{% endif %}
	</body>
</html>
